.mainContent {
  border-radius: 3px;
  min-width: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.select-option {
  position: absolute;
  height: 35px;
  right: 0;
}

.mainContent .head {
  background: #f3f5f9;
  color: black;
  padding-left: 25px;
  display: block;
  border-bottom: 1px solid #e0e4e8;
}
.mainContent .head p {
  padding: 10px 0 0 10px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.content {
  margin: 10px 10px 25px 10px !important;
}

.table {
  min-width: 330px;
}

#order th {
  background-color: #594f8d;
  border-left: 1px solid white;
  color: white;
}
#order tr th,
tr td {
  border: 1px solid #b6b6be !important;
  text-align: center;
}

.btn {
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
  color: white !important;
}
#order td .In-order {
  background-color: #594f8d;
}

#order td .add-order {
  background-color: #28a745;
  font-weight: bold;
}

.total-board {
  background-color: #594f8d;
  width: 100%;
  color: white;
  padding: 20px 0 10px 20px;
  border-radius: 6px;
}
.table .total-board h2 {
  font-weight: bold;
  font-size: 30px;
}
.table .total-board p {
  font-size: 15px;
}

#total-list,
#order {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #b6b6be;
  min-width: 270px;
}

#total-list tr th,
tr td {
  border: 1px solid #b6b6be !important;
  text-align: center;
}
#total-list .increase {
  background-color: #28a745;
  margin: 3px;
  font-weight: bold;
}

#total-list .decrease {
  background-color: #28a745;
  margin: 3px;
  font-weight: bold;
}

#total-list .cancel {
  background-color: red;
}

.pagination-block {
  margin-top: 20px;
}

.submit {
  margin-top: 20px;
  margin-left: 45%;
  margin-right: auto;
  font-weight: bold;
  position: absolute;
  height: 35px;
}

.button-color {
  background-color: #594f8d;
}
