.parent {
  position: relative;
  width: 100%;
  height: 100%;
}
.login-box {
  width: 350px;
  height: 460px;
  background: #252526;
  color: #fff;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type='text'],
input[type='password'],
input[type='confirm_password'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  opacity: 1;
}
.login-box input[type='text']::placeholder,
input[type='password']::placeholder,
input[type='confirm_password']::placeholder {
  color: #fff;
  opacity: 0.8;
}

.login-box input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  background: #594f8d;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type='submit']:hover {
  cursor: pointer;
  background: #1c8adb;
  color: white;
}
